

@media (max-width: 1000px){
    .banner_container{
        flex-direction: column;
    }
    .banner_right{
        width: 200px;
        height: 250px;
    }
    .banner_right{
        text-align: center;
    }
}