{% extends "base.html" %}
{%load static%}
{% block content %}
    <div class="intro_banner row d-flex justify-content-around align-items-center">
        <div style="padding-left:6%" class="banner_left col-5">
            <img src="{%static 'Mahin_png_photo.png'%}" alt="Owner Picture" width="650" height="650">
        </div>
        <div style="padding-right:12%" class="banner_right col-7 ">
            <h1>Here is our honorable chef <strong><bold>MR. Abdullah</bold></strong></h1>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
            </p>
        </div>
    </div>

<div class="footer_section bg-black mt-5 d-flex justify-content-around align-items-center" style = "color:white ; height:50vh ; font-size:25px">
        <div class="section  p-3">
            <a class="navbar-brand fs-2" href="#"><strong><bold>Mayer Dua</bold></strong></a>
  
          </div>
          <div class="section d-flex  p-3">
            <i class="icon-1 fa-brands fa-twitter me-3" style="color: #ffffff;"></i>
  
            <i class="icon-2 fa-brands fa-facebook me-3" style="color: #ffffff;"></i>
  
            <i class="icon-1 fa-brands fa-youtube me-3" style="color: #ffffff;"></i>
            
            <i class="icon-1 fa-brands fa-linkedin me-3" style="color: #ffffff;"></i>
          </div>
          <div class="section list-unstyled text-light p-3">
              <li>Services</li>
              <li>Bonus program</li>
              <li>Gift cards</li>
              <li>Credit and payment</li>
              <li>Service contracts</li>
              <li>Non-cash account</li>
              <li>Payment</li>
  
          </div>
          <div class="section list-unstyled text-light  p-3">
              <li>Assistance to the buyer</li>
              <li>Find an order</li>
              <li>Terms of delivery</li>
              <li>Exchange and return of goods</li>
              <li>Guarantee</li>
              <li>Frequently asked questions</li>
              <li>Terms of use of the site</li>
            </div>
    </div>

    <div class="Copyright">Copyright © 2023 Abdullah</div>





    <!-- footer section start -->

    {% comment %} <footer class="footer-section">
        <div class="sections d-flex w-75 justify-content-around m-auto flex-wrap pt-5 pb-5 text-center g-4">
          <div class="section  p-3">
            <img src="./resources/Logo.png" alt="" class="nav_logo">
  
          </div>
          <div class="section d-flex  p-3">
            <i class="icon-1 fa-brands fa-twitter me-3" style="color: #ffffff;"></i>
  
            <i class="icon-2 fa-brands fa-facebook me-3" style="color: #ffffff;"></i>
  
            <i class="icon-1 fa-brands fa-youtube me-3" style="color: #ffffff;"></i>
            
            <i class="icon-1 fa-brands fa-linkedin me-3" style="color: #ffffff;"></i>
          </div>
          <div class="section list-unstyled text-light p-3">
              <li>Services</li>
              <li>Bonus program</li>
              <li>Gift cards</li>
              <li>Credit and payment</li>
              <li>Service contracts</li>
              <li>Non-cash account</li>
              <li>Payment</li>
  
          </div>
          <div class="section list-unstyled text-light  p-3">
              <li>Assistance to the buyer</li>
              <li>Find an order</li>
              <li>Terms of delivery</li>
              <li>Exchange and return of goods</li>
              <li>Guarantee</li>
              <li>Frequently asked questions</li>
              <li>Terms of use of the site</li>
            </div>
          </div>
      </footer> {% endcomment %}
      <!-- footer section end -->
{% endblock %}